<ion-header>
  <ion-input [(ngModel)] = "pelicula" autofocus = "boolean" true></ion-input>
  <ion-button (click) = FilmToSearch()>Buscar</ion-button>
</ion-header>

<ion-content>
  <ion-item button *ngFor="let movie of movies" (click) = FilmToSearchbyID(movie.imdbID)>
    <ion-label slot = "start">{{movie.Title}}</ion-label>
    <ion-label slot = "end">{{movie.Year}}</ion-label>
  </ion-item>
  <ion-item *ngIf = "movie != []">
    <img src = {{movie.Poster}}>
    <ion-content>
      <ion-label> Pelicula: {{movie.Title}}<br/></ion-label>
      <ion-label> Año: {{movie.Year}}<br/></ion-label>
      <ion-label> Idioma: {{movie.Language}}<br/></ion-label>
      Descripcion:<ion-note> {{movie.Plot}}</ion-note>
    </ion-content>
  </ion-item>
  
</ion-content>
